<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ChatRoom</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link href="../static/css/ie10-viewport-bug-workaround.css" th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">
    <link href="../static/css/signin.css" th:href="@{css/signin.css}" rel="stylesheet" >
    <link href="../static/css/fileinput.min.css" th:href="@{css/fileinput.min.css}" rel="stylesheet">
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <link href="../static/css/bootstrapValidator.min.css">
    <style>
        .styleInput{
            width: 80%;
        }
    </style>
</head>

<body>

<div class="container">
    <form class="form-signin" action="/chatroom" method="post" id="loginForm">
        <h2 class="form-signin-heading">登录</h2>
        <div class="form-group">
            <label for="loginName" class="sr-only">用户名</label>
            <input type="text"  id="loginName" name="userName" class="form-control" placeholder="用户姓名" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" name="userPassword" id="inputPassword" class="form-control" placeholder="密码" required>
            <span th:text="${session.message}" style="color: red;"></span>
        </div>
        <div class="checkbox">
          <a href="javaScript:void(0)" data-toggle="modal" data-target="#modifyThePassword">忘记密码？</a>
          <span style="float:right;">
            <a data-toggle="modal" data-target="#myModal" href="javaScrip:void(0)">还没有账号？请注册</a>
          </span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
    </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
                <form id="registerForm" action="/registerUser" method="post" th:enctype="${'multipart/form-data'}">
                    <div class="form-group styleInput">
                        <label for="userName">用户名</label>
                        <input id="userName" name="userName" type="text" class="form-control " placeholder="用户名">
                    </div>
                    <div class="form-group styleInput">
                        <label for="Password" class="control-label">密码</label>
                        <input id="Password" name="userPassword" type="password" class="form-control"  placeholder="密码">
                    </div>
                    <div class="form-group styleInput">
                        <label for="RePassword" class="control-label">确认密码</label>
                        <input id="RePassword" name="repassword" type="password" class="form-control" placeholder="密码">
                    </div>
                    <div class="form-group styleInput">
                        <label for="iphoneNum" class="control-label">手机号码</label>
                        <input id="iphoneNum" name="userPhoneNum" type="text" class="form-control" placeholder="手机号码">
                    </div>
                    <div class="form-group styleInput">
                        <label for="gender" class="control-label">性别</label>
                        <select class="form-control" id="gender" name="userGender">
                            <option>男</option>
                            <option>女</option>
                            <option>未知</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">头像上传:</label>
                            <input id="input-id"  multiple type="file" data-show-caption="true" name="blFile">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭</button>
                        <button  class="btn btn-primary" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modifyThePassword" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modifyModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <form id="pswdForm" action="/modifyThePassword" method="post">
                    <div class="form-group">
                        <label for="userName">用户名</label>
                        <input id="modifyByName" name="modifyByName" type="text" class="form-control " placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="userName">修改密码</label>
                        <input id="modifyPassWord" name="modifyPassWord" type="password" class="form-control " placeholder="修改密码">
                    </div>
                    <div class="form-group ">
                        <label for="userName">确认密码</label>
                        <input id="modifyPassWordAgain" name="modifyPassWordAgain" type="password" class="form-control " placeholder="再次确认">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭</button>
                        <button  id="submitButton" class="btn btn-primary" type="button" onclick="submitData()">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/fileinput.min.js"></script>
<script src="../static/js/zh.js"></script>
<script src="../static/js/bootstrapValidator.min.js"></script>
<script>
    $(function () {
        initFileInput("input-id");
    });
    $(document).ready(function () {
        $('#loginForm').bootstrapValidator({
            feedbackIcons:{
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },fields: {
                userName: {
                    validators: {
                        notEmpty: {
                            message: '姓名值不能为空！'
                        },
                        stringLength:{
                            min:2,
                            message:'用户长度必须大于2'
                        },
                        threshold:2,
                        remote:{
                            url:'/checkLoginName',
                            message:'用户不存在',
                            delay:1000,
                            type:'get'
                        }
                    }
                },
                userPassword:{
                    validators:{
                        notEmpty:{
                            message:'密码为空'
                        },
                        stringLength:{
                            min:6,
                            max:10,
                            message:'密码长度必须在6到10之间'
                        }
                    }
                }
            }
        });
        $('#registerForm').bootstrapValidator({
            feedbackIcons:{
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                userName:{
                    validators:{
                        notEmpty:{
                            message:'姓名值不能为空！'
                        },
                        stringLength:{
                            min:2,
                            message:'用户长度必须大于2'
                        },
                        threshold:2,
                        remote:{
                            url:'/checkUserByName',
                            message:'用户已存在',
                            delay:1000,
                            type:'get'
                        }
                    }
                },
                userPassword:{
                    message:'密码无效',
                    validators:{
                        notEmpty:{
                          message:'密码为空'
                        },
                        stringLength:{
                            min:8,
                            max:10,
                            message:'密码长度必须在8到10之间'
                        },
                        regexp:{
                            regexp: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/,
                            message: '密码至少8个字符，其中至少1个大写字母，1个小写字母和数字，不能特殊字母'
                        }
                    }
                },
                repassword:{
                    message:'密码无效',
                    validators:{
                        notEmpty:{
                            message:'用户名不能为空'
                        },
                        stringLength:{
                            min:8,
                            max:10,
                            message:'密码必须在8到10之间'
                        },
                        identical:{
                            field:'userPassword',
                            message:'两次密码不一致'
                        },
                        regexp:{
                            regexp: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/,
                            message: '密码至少8个字符，其中至少1个大写字母，1个小写字母和数字，不能特殊字母'
                        }
                    }
                },
                userPhoneNum:{
                    message:'该手机号无效',
                    validators:{
                        notEmpty:{
                            message:"手机号不能为空"
                        },
                        stringLength:{
                            min:11,
                            max:11,
                            message:'请输入11位手机号码'
                        },
                        regexp: {
                            regexp: /^1[3|5|8]{1}[0-9]{9}$/,
                            message: '请输入正确的手机号码'
                        }
                    }
                },
                blFile:{
                    validators:{
                        notEmpty:{
                            message:"请上传图片"
                        }
                    }
                }
            }
        });
        $('#modifyThePassword').bootstrapValidator({
            feedbackIcons:{
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                modifyByName:{
                    validators:{
                        notEmpty:{
                            message:'姓名值不能为空！'
                        },
                        stringLength:{
                            min:2,
                            message:'用户长度必须大于2'
                        },
                        threshold:2,
                        remote:{
                            url:'/modifyByName',
                            message:'用户不存在',
                            delay:1000,
                            type:'get'
                        }
                    }
                },
                modifyPassWord:{
                    message:'密码无效',
                    validators:{
                        notEmpty:{
                            message:'密码为空'
                        },
                        stringLength:{
                            min:8,
                            max:10,
                            message:'密码长度必须在8到10之间'
                        },
                        regexp:{
                            regexp: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/,
                            message: '密码至少8个字符，其中至少1个大写字母，1个小写字母和数字，不能特殊字母'
                        }
                    }
                },
                modifyPassWordAgain:{
                    message:'密码无效',
                    validators:{
                        notEmpty:{
                            message:'用户名不能为空'
                        },
                        stringLength:{
                            min:8,
                            max:10,
                            message:'密码必须在8到10之间'
                        },
                        identical:{
                            field:'modifyPassWord',
                            message:'两次密码不一致'
                        },
                        regexp:{
                            regexp: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/,
                            message: '密码至少8个字符，其中至少1个大写字母，1个小写字母和数字，不能特殊字母'
                        }
                    }
                }
            }
        });
    });
    function initFileInput(ctrlName) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: "upload/insert", //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png','jpeg'],//接收的文件后缀
            uploadAsync: true, //默认异步上传
            showUpload: false, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: true, //是否显示预览
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        });
    }
    function reset() {
        location.reload();
    }
    function submitData(){
        var form =document.getElementById('pswdForm');
        form.submit();
    }
</script>
</body>
</html>
